.spotifyLogo {
    width: 21px;
}

body {
    overflow-y: scroll;
}

.undefinedLoading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 50px;
}