h1 {
    margin: 0;
    font-size: 100px;
    color: #1976d2;
}

h3, p {
    color: white;
}

.loginContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loginLink {
    color: green;
    text-decoration: none;
    font-size: 5rem;
}

p {
    width: 50%;
}