.tabViewContainer {
    display: flex;
    justify-content: flex-start;
}

.tabListContainerFromTabsView {
    max-width: 250px;
    position: fixed;
    right: 0;
}


@media only screen and (min-width: 1200px)  {
    .tabListContainerFromTabsView {
        position: unset;
    }
}