.tabInnerContainer > div {
    all: unset !important;
    display: flex;
    justify-content: center;
    color: white !important;
    
}

@keyframes fadeIn {
    0% {opacity:0};
    100% {opacity:1};
  }

  @-moz-keyframes fadeIn {
    0% {opacity:0};
    100% {opacity:1};
  }

.tabOuterContainer {
    margin-left: 5px;
}

section._3cXAr {
    overflow-x: auto !important;
    animation: fadeIn .5s ease-in;
}

.tabTitle {
    text-align: center;
}

/* Tab Text Container */
._3F2CP {
    font-size: 11px !important;
    width: 100%;
}

/* Chords */
._3PpPJ {
    /* color: rgb(72, 121, 224) !important; */
    color: #1976d2 !important;
    text-shadow: 1px white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}


@media only screen and (min-width: 500px)  {
    ._3F2CP {
        font-size: unset !important;
    }

    .tabOuterContainer {
        /* display: flex;
        flex-direction: column;
        align-items: flex-end; */
        margin-left: 10px;
        width: 100%;
    }
}

@media only screen and (min-width: 1200px)  {
    .tabOuterContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-left: 0;
    }
}